@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700&display=swap');
@import './variables.css';
@import './utilities.css';

* {
    padding: 0;
    margin: 0;
    box-sizing: antialiased;
    -webkit-font-smoothing: antialiased;
}

body{
    font-family: 'Montserrat', sans-serif;
    color: var(--pure);
    background: var(--primary);
}

header{
    background: linear-gradient(135deg,rgba(0,0,0,1),rgba(0,0,0,0.2)),
    url('../img/dragon/dragon.png');
    min-height: 100vh;
    background-size: cover;
}

header nav{
    padding: 20px 40px 20px 100px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    border-bottom: 1px solid var(--gray);
}

header nav .brand a img{
    height: 60px;
    border-radius: 50px;
}

header nav .brand h1{
    color: var(--mild);
}

header nav .nav-right{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav .nav-right a{
    text-decoration: none;
    color: var(--pure);
    margin-right: 30px;
    position: relative;
}

header nav .nav-right a:after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -30px;
    width: 0;
    height: 2px;
    background: var(--pure);
    transition: width .3s ease-in-out;
}

header nav .nav-right a:hover:after{
    width: 70%;
}

header nav .nav-right a.active:after{
    width: 70%;
}

header nav .nav-right .search > div{
    background: var(--dark);
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-radius: 50px;
}

header nav .nav-right .search > div input{
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: var(--pure);
}

header nav .nav-right .search > div img{
    padding-right: 16px;
}

/* Social Media Style Starts */

.social div{
    border: 2px solid var(--pure);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    opacity: 0;
}

/* Animation of links coming and going */

@keyframes moveIn {
    from {
       transform: translateX(-100px);
    }
    to {
        transform: translateX(0px);
        opacity: 1;
        
    }
}

.social svg path{
   fill: var(--pure);
}

.social div:hover svg path{
    fill: var(--dark);
    transition: all .5s ease-in-out;
}
.social div:hover{
    background: var(--pure);
}

.hero{
    position: relative;
}

.social{
    position: absolute;
    left: 0;
    top: 0;
    border-right: 1px solid var(--gray);
    width: 70px; /* 100 */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 90vh;
}

/* left and right section styling */

.hero .cta{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: calc(100vh - 80px);
}

.hero .cta h1{
    font-weight: 400;
    font-size: 22px;
    line-height: 1.7;
    margin-bottom: 30px;
}

.hero .cta > div{
    flex: 1;
}

.hero .cta .left-section{
    padding: 0 60px 0 30px;
}

/* horizontal scroll css */
.media-scroller {
    padding: 100px;
    text-align: center;
}

.media-scroller{
    display: block;
    width: 100%;
    overflow-x: scroll;
    /* margin-top: 20px; */
    padding: 20px;
    box-sizing: border-box;
    background-color: black;
}

.media-scroller::-webkit-scrollbar{
    display: none;
}

.media-element{
    display: block;
    white-space: nowrap;
    padding-bottom: 100px;
}

.item{
    display: inline-block;
    margin-right: 10px;
}

.item img{
    width: 400px;
    height: 225px;
    object-fit: cover;
}

.crew img{
    width: 100%;
    height: 60%;
    object-fit: cover;
}

.merlin{
    background: linear-gradient(rgba(0,0,0,1),rgba(0,0,0,0.2)),
    url('../img/dragon/Draco.webp');
    background-repeat: no-repeat;
    background-size: 100%;
}


.engines{
    padding-bottom: 100px;
    padding-left: 50px;
}

/* .engines h4,h1{
    text-align: center;
} */

.with-underline h3{
    padding-top: 100px;
    font-size: 20px;
    padding-left: 10px;
}

.with-underline p{
    font-size: 20px;
    padding-left: 30px;
    
}

.with-underline{
    position: relative;
    margin-bottom: 38px;
}

.with-underline:before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -12px;
    display: block;
    width: 28%;
    height: 2px;
    background: var(--pure);
}

.with-underline::before{
    width: 10%;
}

.title{
    padding-top: 50px;
}

.title h2{
    padding-bottom: 10px;
}

.subtitle{
    padding-top: 50px;
}

.subtitle h3{
    padding-bottom: 10px;
}

footer{
    background: var(--dark);
    padding: 60px 0;
}

footer > div{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

footer .copyright span{
    font-size: 12px;
    display: inline-block;
    margin-top: 5px;
}

footer .copyright img{
    height: 100px;
    border-radius: 50px;
}

footer h1{
    font-size: 18px;
    position: relative;
    margin-bottom: 30px;
}

footer h1:after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -8px;
    display: block;
    width: 60px;
    height: 2px;
    background: var(--pure);
}

footer ul{
    list-style-type: none;
}

footer ul li:nth-child(even){
    margin: 10px 0;
}

footer ul li a{
    color: var(--mild);
    text-decoration: none; /* To remove underline */
    font-size: 14px;
    transition: all .3s ease-in-out;
}

footer ul li a:hover{
    color: var(--pure);
}

footer .footer-socials a{
    margin-right: 20px;
    font-size: 22px;
    color: var(--mild);
}

footer .footer-socials a:hover{
    color: var(--pure);
}